.genre-title {
  font-size: 3rem;
  color: white;
}
.discover-row {
  display: grid;
  padding: 3rem 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
}
.discover-col {
  height: 30rem;
}
.discover-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
